aiofiles
alembic
anyio
bcrypt
boto3  # For cloud storage
briefcase
celery
fastapi
Flask
numpy
opencv-python
passlib[bcrypt]
pillow
psycopg
psycopg2-binary
pydantic
PyJWT[crypto]
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted
python-jose
python-magic
python-multipart
redis
sqlalchemy
sqlmodel
starlette
uvicorn
websockets
Werkzeug

