aiobotocore
aiofiles
aiosqlite
alembic
anyio
bcrypt
boto3
briefcase
cachetools
celery
chardet
charset-normalizer
conda
emails
fastapi
Flask
fluidsynth
httpx
midi2audio
midiutil
moviepy
mpmath
numpy
opencv-python
pandas
passlib[bcrypt]
pillow
#psycopg
psycopg[binary]
pydantic
pydantic[email]
pydantic-core==2.41.5
pylint
PyJWT[crypto]
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted
python-jose
python-magic
python-multipart
redis
requests>=2.28.1
scipy
sentry-sdk
spyder-kernels
sqlalchemy
starlette
streamlit
sympy
toga
urllib3<2
uvicorn
watchdog==4.0.1
websockets
Werkzeug
