aiofiles
aiosqlite
alembic
anyio
bcrypt
boto3  # For cloud storage
briefcase
cachetools
celery
emails
fastapi
Flask
fluidsynth
httpx
midi2audio
midiutil
moviepy
numpy
opencv-python
pandas
passlib[bcrypt]
pillow
#psycopg
psycopg[binary]
pydantic
pydantic[email]
#pydantic-core==2.41.5
PyJWT[crypto]
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted
python-jose
python-magic
python-multipart
redis
scipy
sentry-sdk
spyder-kernels
sqlalchemy
starlette
streamlit
uvicorn
websockets
Werkzeug
